.expt__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a8be6ea;
    color: #fff;
    font-size: 12px;
    gap: 7px;
    border-radius: 50px;
    border: 1px solid #2a8be6ea;
    padding: 7px 10px 7px 10px;
    transition: all 300ms ease-in;
    cursor: pointer;
}

.expt__btn:hover {
    border: 1px solid #2a8be6ea;
    color: #2a8be6ea;
    background-color: #fff;
}